<!-- Headerのファイルに今後する予定です -->

<div class="header">
  <!-- ヘッダーロゴ -->

  <!-- ハンバーガーメニュー部分 -->
  <div class="nav">
    <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
    <input id="drawer_input" class="drawer_hidden" type="checkbox" />

    <!-- ハンバーガーアイコン -->
    <label for="drawer_input" class="drawer_open"><span></span></label>

    <!-- メニュー -->
    <nav class="nav_content">
      <ul class="list">
        <li class="item"><a href="index.html">Home</a></li>
        <li class="item"><a href="post.html">Post</a></li>
        <li class="item"><a href="join.html">Join Us</a></li>
        <li class="item"><a href="about.html">About</a></li>
        <li class="item"><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
